*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial;
}
body{
    background-color: #000;
}
.calc {
    width: 400px;
    margin: 100px auto;
}
.display{
    font-size: 60px;
    color: #fff;
    padding: 20px;
    text-align: right;
}
.keypad{
   
}
.key{
    display: flex;
    justify-content: center;
    align-items: center;
}
.keypad-table tr:first-child .key{
    background-color: #a5a5a5;
}
.keypad-table tr:first-child .key:active{
    background-color: #a5a5a590;
}
.keypad-table tr td:last-child .key{
    background-color: #e99803;
}
.keypad-table tr td:last-child .key:active{
    background-color: #ff5100;
}
.key {
    background-color: rgb(43, 48, 48);
    width:90px;
    height: 90px;
    border-radius: 90px;
    line-height: 90px;
    margin: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid #000;
    cursor: pointer;
    user-select: none;
}
.key:active{

    background-color: rgb(36, 36, 37);
}


